@media screen and (max-width: 500px) {
  .section01 {
    .img_01 {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: 25%;
    }
    .text {
      h1 {
        font-size: 45px;
      }

      h3 {
        font-size: 14px;
      }
    }

    .text_box {
      .box1:nth-child(1) {
        border-right: 1px solid white;
        padding-right: 10px;
      }
      .box1:nth-child(2) {
        border-right: 1px solid white;
        padding-right: 3px;
        padding-left: 10px;
        padding-right: 10px;
      }
      .box1:nth-child(3) {
        padding-left: 10px;
      }
    }
  }

  .section02 {
    flex-direction: column;
    .video {
      width: 100%;
      height: 50%;
      video {
        width: 100%;
        height: 100%;
        border-radius: 0 0 0 0;
      }
    }

    .video_text {
      width: 100%;
      height: 50%;

      h1 {
        font-size: 30px;
        padding-bottom: 1rem;
      }
    }
  }

  .section03 {
    .slideshow_img {
      width: 100%;
      height: 40%;
      font-size: 0;
      overflow: hidden;

      img:nth-child(1) {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: relative;
        transform: translateY(0%);
        object-fit: cover;
        display: none;
      }
      img:nth-child(2) {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        transform: translateY(0%);
        object-fit: cover;
      }
      img:nth-child(3) {
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        position: absolute;
        transform: translateY(0%);
        object-fit: cover;
        display: none;
      }
    }

    .text {
      position: absolute;
      top: 45%;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50%;
      padding: 30px;

      h1 {
        font-size: 26px;
        padding-bottom: 2rem;
      }

      p {
        padding-bottom: 2rem;
      }

      h2 {
        font-size: 18px;
        line-height: 30px;
        text-align: right;
      }
    }
  }

  .section04 {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;

    img {
      height: 50%;
      width: 100%;
      object-fit: cover;
      order: -1;
    }

    .text {
      width: 100%;
      height: 50%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
        font-size: 45px;
      }

      p {
        text-align: center;
        padding-top: 2rem;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5rem;
        letter-spacing: 2px;
      }
    }
  }

  .section05 {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;

    img {
      height: 50%;
      width: 100%;
      object-fit: cover;
    }

    .text {
      width: 100%;
      height: 50%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
        font-size: 45px;
      }

      p {
        text-align: center;
        padding-top: 2rem;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5rem;
        letter-spacing: 2px;
      }
    }
  }

  .section07 {
    width: 100%;
    height: 100%;

    .wrap {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      button {
        align-self: flex-end;
        color: white;
        background-color: #0066b1;
        border-radius: 0px;
        padding: 0;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;

          h3 {
            margin-left: 4px;
            letter-spacing: 1.5px;
            font-weight: 300;
            font-size: 12px;
          }
        }
      }

      img {
        width: 100%;
        height: 50%;
        object-fit: cover;
        object-position: 0% 15%;
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        width: 100%;
        height: 50%;

        h1 {
          font-size: 45px;
          padding-bottom: 1rem;
        }

        p {
          font-size: 12px;
          font-weight: 300;
          line-height: 1.5rem;
          letter-spacing: 1.2px;
          &:nth-child(2) {
            padding-bottom: 2rem;
          }
        }

        .top_text {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;
        }
      }

      .bottom_text {
        display: none;
      }
    }
  }

  .section08 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .text {
      height: 60%;
      width: 100%;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      h1 {
        font-size: 40px;
        color: #9f1b23;
        border-left: 5px solid #9f1b23;
        padding-left: 15px;
        margin-bottom: 1rem;
      }

      p {
        color: #504343;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.1rem;
        letter-spacing: 1.2px;
        width: 100%;
      }
    }

    .wrap {
      width: 100%;
      height: 40%;
      font-size: 0;
      order: -1;

      img {
        width: 50%;
        height: 100%;
        object-fit: cover;
        object-position: 50%;
        &:nth-last-child(1) {
          object-position: 80%;
        }
      }
    }
  }

  .section11 {
    width: 100%;
    height: 100%;
    display: flex;

    .img {
      width: 40%;
      height: 100%;
      background: linear-gradient(90deg, transparent 80%, rgba(0, 0, 0, 1) 100%),
        url(../M4_kith/section11_01.jpg) no-repeat center/cover;
    }

    .right_wrap {
      width: 60%;
      height: 100%;
      background: black;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 100px 0px 50px 0px;

      .title {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h1 {
          text-align: right;
          font-size: 20px;
          padding: 0px 10px;
        }
      }
    }

    .content {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 30px;

      .left {
        width: 50%;
        height: 100%;
      }

      .right {
        width: 50%;
        height: 100%;
        margin-left: 20px;
      }

      .box {
        margin-bottom: 1rem;

        hr {
          width: 15%;
          margin-left: 0;
          border-color: grey;
        }

        h6 {
          font-size: 12px;
          letter-spacing: 1px;
        }

        p {
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 1px;
          line-height: 1rem;
        }
      }
    }

    .btn {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      align-items: center;
      justify-content: center;

      button {
        margin: 0;
        padding: 0;
        width: 150px;
        height: 30px;
        font-size: 15px;
        // width: 90%;
        &:nth-child(2) {
          margin-top: 10px;
        }
      }
    }
  }
}
